mat-card {
  width: 80%;
  margin: auto;
}

mat-card-title {
  font-size: small;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.items {
  margin-top: 16px;
}

#nothing-to-see{
  text-align: center;
  font-size: large;
  width: inherit;
  margin: 0 16px;
}

mat-panel-description span {
  margin-left: 65%;
}
