mat-card {
  width: 90%;
  margin: 20px auto;
}

mat-card-actions {
  display: block;
  margin-bottom: 20px;
  height: 20px;
}

mat-card-actions {
  padding-left: 1%;
  padding-bottom: 1%;
}

mat-progress-bar {
  height: 10px !important;
  border-radius: 5px;
}

th {
  color: rgb(255, 255, 255);
  background-color: #673ab7 !important;
  font-size: 20px;
  padding-right: 5px !important;
  align-content: left !important;
}

.interval-summary {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interval-summary:hover {
  overflow: auto;
  text-overflow: unset;
  white-space: normal;
}

.subtitle {
  font-size: 20px;
  margin-left: 15px;
}

.analysis-table {
  width: 100% !important;
}

.analysis-table td {
  padding: 0 1%;
}

.info-button-column {
  width: 200px !important;
  align-content: center;
}

.edit {
  font-size: large;
}

button {
  display: inline-block;
  margin-right: 10px !important;
  font-size: large;
}

.details-button {
  display: block;
  margin: auto;
}

#symbol {
  display: inline-block;
  float: right;
  padding-right: 10px;
  color: grey;
}

.primary-details {
  size: 20px;
}

.primary-values {
  font-weight: bold;
}

.parameter-name {
  text-align: left !important;
  width: 100px;
}

.parameter-value {
  width: 30px !important;
}

.parameter-unit {
  width: 30px !important;
  font-weight: bold;
}

.parameter-intervals {
  width: 1fr;
}

.parameter-description {
  float: right;
}

tr:hover {
  background-color: #eeeaf1;
}

ul {
  margin: 2px;
}

.value {
  justify-content: center;
}

.table-row {
  height: 100px !important;
}

.ratios-column {
  width: 20%;
  display: inline-block;
}

.input-ratio-value,
.single-asset-ratio {
  width: 60px;
}

#asset-main-details {
  display: inline-block;
}

#file-upload {
  display: inline-block;
  width: 101%;
  border-width: 2px;
  border-color: #673ab7;
  border-style: dashed;
  padding: 1%;
}

#width-wrap-main-details {
  display: inline-grid;
  grid-template-columns: 3fr 1fr;
  padding: 0.5%;
}

.file-upload {
  display: flex;
  justify-content: center;
  position: relative;
}

#upload-button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 8.5px 0 0 -41px;
}

#select-file-button {
  margin: 8.5px 0 0 0;
}

tr.no-highlight:hover {
  background-color: rgba(255, 255, 255, 0);
}

#file-upload-cell-description {
  font-weight: 500;
}

.image-prv {
  max-width: 5rem;
  max-height: 5rem;
  cursor: pointer;
}

.img-prv-btn {
  height: 100%;
}

.grid-wrapper {
  display: grid;
  grid-template-areas:
    "a c b";
  grid-template-columns: 250px 10px 1fr;
}

.grid-column-one {
  grid-area: a;
  min-width: 250px;
}

.grid-column-two {
  grid-area: b;
  min-width: 700px;
}