mat-card {
  width: 90%;
  margin: 20px auto;
}

mat-card-title {
  height: 30px;
}

th {
  color: rgb(255, 255, 255);
  background-color: #673ab7;
  font-size: 20px;
  padding-right: 5px !important;
  align-content: left !important;
}

.interval-summary {
  max-width: 600px; /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interval-summary:hover {
  overflow: auto;
  text-overflow: unset;
  white-space: normal;
}

.subtitle {
  font-size: 20px;
}

mat-card-actions {
  display: block;
  margin-bottom: 20px;
  height: 20px;
}

.analysis-table {
  width: 100% !important;
}

.analysis-table td {
  padding: 0 1%;
}

.info-button-column {
  width: 140px !important;
  align-content: center;
}

.edit,
button {
  display: inline-block;
  margin-right: 10px !important;
  font-size: large;
}

.details-button {
  display: block;
  margin: auto;
}

#symbol {
  display: inline-block;
  float: right;
  color: grey;
}

.primary-details {
  size: 20px;
}

.primary-values {
  font-weight: bold;
}

.parameter-name {
  text-align: left !important;
  width: 100px;
}
.parameter-value {
  width: 100px !important;
}

.parameter-unit {
  width: 30px !important;
  font-weight: bold;
}

.parameter-intervals {
  width: 50%;
  max-width: 50%;
}

.parameter-description {
  float: right;
}

tr:hover {
  background-color: #eeeaf1;
}

ul {
  margin: 2px;
}

.value {
  justify-content: center;
}

.table-row {
  height: 100px !important;
}

.ratios-column {
  width: 20%;
  display: inline-block;
}

.ratio-analysis {
  float: right;
  width: 80%;
}

mat-progress-bar {
  height: 10px !important;
  border-radius: 5px;
}

.input-detailed-ratio,
.single-detailed-ratio {
  max-width: 35px;
}
