<mat-card xmlns="http://www.w3.org/1999/html" data-cy="detailed-ratios">
  <div>
    <mat-card-title>
      <span data-cy="name" id="name">{{assetMainDetails?.assetName}}</span>
      <span data-cy="symbol" id="symbol">{{assetMainDetails?.assetSymbol}}</span>
    </mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-subtitle class="subtitle">
      Main details
    </mat-card-subtitle>
    <app-loading-spinner *ngIf="isLoading1"></app-loading-spinner>
    <mat-card-content data-cy="asset-details-section" class="primary-details" *ngIf="!isLoading1">
      <table>
        <tr data-cy="amount" id="amount">
          <td> Owned quantity:</td>
          <td class="primary-values">{{assetMainDetails?.amount}}</td>
        </tr>
        <tr data-cy="price" id="price">
          <td>Price per share:</td>
          <td class="primary-values">{{assetMainDetails?.buyPrice}}&nbsp;{{assetMainDetails?.currency}}</td>
        </tr>
        <tr data-cy="total-price" id="total-price">
          <td>Total paid price:</td>
          <td class="primary-values">{{stockTotalCost()}}&nbsp;{{assetMainDetails?.currency}}</td>
        </tr>
        <tr data-cy="date" id="date">
          <td>Purchase date:</td>
          <td class="primary-values">{{assetMainDetails?.purchaseDate}}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <a class="edit" data-cy="edit" mat-stroked-button color="primary" [routerLink]="['/edit', assetId]">Edit</a>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <br>
    <mat-card-subtitle class="subtitle">
      Stock ratios
    </mat-card-subtitle>
    <app-loading-spinner *ngIf="isLoading2"></app-loading-spinner>
    <mat-card-content data-cy="ratios-section" class="ratios-column" *ngIf="!isLoading2">
      <form data-cy="ratios-inputs" (submit)="saveDetailedRatios(ratiosInput)" ngForm #ratiosInput="ngForm"
        class="asset-ratios-table" name="detailed-ratios">
        <table data-cy="ratios-input-table" mat-table [dataSource]="detailedAssetRatios.ratiosArray">
          <ng-container matColumnDef="parameterName">
            <th data-cy="input-ratios-name-header" mat-header-cell *matHeaderCellDef>Ratio</th>
            <td data-cy="input-ratios-name-cell" class="parameter-name" mat-cell *matCellDef="let ratio">
              {{ratio.parameterName}}</td>
          </ng-container>
          <ng-container matColumnDef="valueNum">
            <th data-cy="input-ratios-value-header" mat-header-cell *matHeaderCellDef>Value</th>
            <td data-cy="input-ratios-value-cell" class="input-detailed-ratio" mat-cell *matCellDef="let ratio">
              <mat-form-field class="input-detailed-ratio">
                <input class="single-detailed-ratio"
                  [attr.data-cy]="ratio.parameterName.replaceAll(' ', '-').toLowerCase() + '-input'"
                  name="r{{ratio.parameterName}}" matInput [ngModel]="ratio.valueNum" value="{{ratio.valueNum}}">
                <!-- DO NOT REMOVE ABOVE "r" letter from "name" parameter, it breaks detailed ratios save functionality
                   because of error that appears if input field has name set only by
                   two way binding it was needed to add a letter that is not dynamic. Here I remove it.it is removed in saveDetailedRatios -->
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="unit">
            <th data-cy="input-ratios-unit-header" mat-header-cell *matHeaderCellDef>Unit</th>
            <td data-cy="input-ratios-unit-cell" class="parameter-unit" mat-cell *matCellDef="let ratio">
              {{setUnit(ratio.unit)}}</td>
          </ng-container>
          <tr data-cy="input-ratios-header-row" mat-header-row *matHeaderRowDef="ratiosColumns"></tr>
          <tr data-cy="input-ratios-items-row" class="table-row " mat-row *matRowDef="let row; columns: ratiosColumns">
          </tr>
        </table>
        <mat-card-actions>
          <button data-cy="save" mat-raised-button color="primary" type="submit">Save</button>
        </mat-card-actions>
      </form>
    </mat-card-content>

    <mat-card-content *ngIf="!isLoading2" class="ratio-analysis">
      <table data-cy="ratios-analysis-table" class="analysis-table" mat-table
        [dataSource]="analyzedDetailedAssetRatios">
        <ng-container matColumnDef="name">
          <th data-cy="analysis-ratios-name-header" mat-header-cell *matHeaderCellDef>Name</th>
          <td data-cy="analysis-ratios-name-cell" class="parameter-name" mat-cell *matCellDef="let analysis">
            {{analysis.name}}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th data-cy="analysis-ratios-value-header" mat-header-cell *matHeaderCellDef>Value</th>
          <td data-cy="analysis-ratios-value-cell" class="parameter-value" mat-cell *matCellDef="let analysis">
            {{analysis.value}}</td>
        </ng-container>
        <ng-container matColumnDef="intervals">
          <th data-cy="analysis-ratios-intervals-header" mat-header-cell *matHeaderCellDef>Analysis</th>
          <td data-cy="analysis-ratios-intervals-cell" class="parameter-intervals" mat-cell *matCellDef="let analysis">
            <div data-cy="analysis-ratios-intervals-cell-verbal-rating" class="interval-verbal-rating">
              <b>{{analysis.intervals.verbalRating}}</b>
            </div>
            <div data-cy="analysis-ratios-intervals-cell-summary" class="interval-summary">
              {{analysis.intervals.summary}}
            </div>
            <div data-cy="analysis-ratios-intervals-cell-number-rating" class="interval-number-rating" [ngClass]="{
              'terrible' : analysis.intervals.numberRating === 1,
              'rather-bad' : analysis.intervals.numberRating === 2,
              'neutral' : analysis.intervals.numberRating === 3,
              'ok' : analysis.intervals.numberRating === 4,
              'rather-good' : analysis.intervals.numberRating === 5,
              'outstanding' : analysis.intervals.numberRating === 6
            }">
              <mat-progress-bar data-cy="analysis-ratios-intervals-cell-progress-bar"
                value="{{analysis.intervals.numberRating*100/6}}" mode="determine">
              </mat-progress-bar>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th data-cy="analysis-ratios-additional-info-header" mat-header-cell *matHeaderCellDef>Additional Info</th>
          <td data-cy="analysis-ratios-additional-info-cell" class="info-button-column" mat-cell
            *matCellDef="let analysis">
            <button data-cy="details-button" class="details-button" mat-raised-button onclick="openRatioDetails()" color="accent">Ratio
              Details</button>
          </td>
        </ng-container>
        <tr data-cy="analysis-ratios-header-row" mat-header-row *matHeaderRowDef="ratiosAnalysisColumns"></tr>
        <tr data-cy="analysis-ratios-items-row" class="table-row" mat-row
          *matRowDef="let row; columns: ratiosAnalysisColumns"></tr>
      </table>
    </mat-card-content>
  </div>
</mat-card>