mat-card {
  width: 90%;
  margin: 20px auto;
}

#close-button {
  display: inline;
  float: right;
  width: 24px;
  height: 24px;
  align-content: center;
}

.material-icons {
  display: flex;
  align-items: center;
}
