mat-card {
  width: 90%;
  margin: 20px auto;
}

#close-button {
  display: inline;
  float: right;
  height: auto;
  width: fit-content;
  align-content: center;
}

.material-icons {
  display: flex;
  font-size: 70%;
  align-items: center;
}