<mat-card data-cy="create-form">
  <form [formGroup]="assetForm" (submit)="onAssetSave()">
    <mat-card-title class="card-title">Create asset:</mat-card-title>
    <mat-divider></mat-divider>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <div *ngIf="!isLoading">
      <mat-form-field>
        <mat-label>Full asset name</mat-label>
        <input name="fullName" data-cy="full-name" matInput id="asset-name" class="assetInput"
          formControlName="assetName">
        <mat-error *ngIf="assetForm.get('fullName').invalid">{{ getErrorMessage(fullName.name) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Asset symbol</mat-label>
        <input name="symbol" data-cy="symbol" matInput id="asset-symbol" class="assetInput"
          formControlName="assetSymbol">
        <mat-error *ngIf="assetForm.get('symbol').invalid"> {{ getErrorMessage(symbol.name) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Amount of units (int)</mat-label>
        <input name="amount" data-cy="amount" matInput id="asset-amount" class="assetInput example-right-align"
          formControlName="amount">
        <mat-error *ngIf="assetForm.get('amount').invalid"> {{ getErrorMessage(amount.name) }}</mat-error>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price for one unit</mat-label>
        <input name="price" data-cy="price" matInput id="asset-price" class="assetInput example-right-align"
          formControlName="buyPrice">
        <mat-error *ngIf="assetForm.get('price').invalid"> {{ getErrorMessage(price.name) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Currency:</mat-label>
        <mat-select data-cy="currency" name="currency" formControlName="currency">
          <mat-option value="$">$</mat-option>
          <mat-option value="€">€</mat-option>
          <mat-option value="£">£</mat-option>
          <mat-option value="¥">¥</mat-option>
        </mat-select>
        <mat-error *ngIf="assetForm.get('currency').invalid"> {{ getErrorMessage(currency.name) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Purchase Date:</mat-label>
        <input name="date" data-cy="purchase-date" matInput [matDatepicker]="picker" formControlName="purchaseDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="assetForm.get('date').invalid"> {{ getErrorMessage(date.name) }}</mat-error>
      </mat-form-field>
    </div>
    <div class="create-buttons">
      <button [disabled]="" data-cy="submit" mat-raised-button color="primary" type="submit">
        {{assetButton}}
      </button>
      <button mat-raised-button data-cy="clear" color="warn" type="reset">Clear</button>
    </div>
  </form>
</mat-card>