
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input.example-right-align {
  text-align: right;
}

mat-form-field {
  margin: 10px 15px;
}

button {
  margin: 0 10px
}

mat-card {
  width: 700px;
  margin: 2.5% auto;
}

mat-card button {
  align-items: flex-end;
}

.card-title {
  font-size: small;
  color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.create-buttons {
  display: inline-block;
}
