mat-card {
  width: 90%;
  margin: 20px auto;
}

mat-card-title {
  height: 30px;
}

.subtitle {
  font-size: 20px;
}

mat-card-actions {
  display: block;
  margin-bottom: 20px;
  height: 20px;
}

.edit,
button {
  display: inline-block;
  float: right;
  margin-right: 10px !important;
  font-size: large;
}

#symbol {
  display: inline-block;
  float: right;
  color: grey;
}

.primary-details {
  size: 20px;
}

.primary-values {
  font-weight: bold;
}

.parameter-name {
  width: 100px;
}
.parameter-value {
  width: 100px !important;
}

tr:hover {
  background-color: #eeeaf1;
}

ul {
  margin: 2px;
}

.value {
  justify-content: center;
}

#descriptionAnalysis {
  width: 400px;
}

tr.mat-row {
  height: 200px;
}

.ratios-column {
  width: 20%;
  display: inline-block;
}

.ratio-analysis {
  float: right;
  width: 80%;
}
