<mat-card>
  <mat-card-title>
    <span id="name">{{assetMainDetails.assetName}}</span>
    <span id="symbol">{{assetMainDetails.assetSymbol}}</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <br>
  <mat-card-subtitle class="subtitle">
    Main details
  </mat-card-subtitle>
  <mat-card-content class="primary-details">
    <table>
      <tr id="amount">
        <td> Owned quantity:</td>
        <td class="primary-values">{{assetMainDetails.amount}}</td>
      </tr>
      <tr id="price">
        <td>Price per share:</td>
        <td class="primary-values">{{assetMainDetails.buyPrice}}&nbsp;{{assetMainDetails.currency}}</td>
      </tr>
      <tr id="date">
        <td>Purchase date:</td>
        <td class="primary-values">{{assetMainDetails.purchaseDate}}</td>
      </tr>
      <tr id="total-price">
        <td>Total paid price:</td>
        <td class="primary-values">{{assetMainDetails.buyPrice * assetMainDetails.amount}}&nbsp;{{assetMainDetails.currency}}</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <a class="edit" mat-stroked-button color="primary" [routerLink]="['/edit', assetId]">Edit</a>
  </mat-card-actions>
  <mat-divider></mat-divider>
  <br>
  <mat-card-subtitle class="subtitle">
    Stock ratios
  </mat-card-subtitle>
  <mat-card-content>
  </mat-card-content>
</mat-card>
