mat-card {
  width: 90%;
  margin: 20px auto;
}

mat-expansion-panel {
  margin-top: 2px;
}

div.items {
  margin: 16px 10px;
}

#nothing-to-see {
  text-align: center;
  font-size: large;
  width: inherit;
  margin: 0 16px;
}

mat-panel-description {
  flex: 0 0 auto;
}

table {
  width: 100%;
}

.details {
  float: right;
  width: 6rem !important;
  height: 2rem !important;
  font-size: large;
}

mat-expansion-panel {
  background-color: #eeeaf1;
}

button, a {
  background-color: white;
  font-size: large;;
}
