mat-card {
  width: 90%;
  margin: 20px auto;
}

mat-expansion-panel {
  margin-top: 2px;
}

mat-card-title {
  font-size: small;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.items {
  margin-top: 16px;
}

#nothing-to-see {
  text-align: center;
  font-size: large;
  width: inherit;
  margin: 0 16px;
}

mat-panel-description {
  float: right;
  width: 180px;
  flex-grow: 0;
}

table {
  width: 100%;
}

.details {
  display: inline-block;
  float: right;
  width: 6rem !important;
  height: 2rem !important;
  font-size: large;
}

mat-expansion-panel {
  background-color: #eeeaf1;
}

button, a {
  background-color: white;
  font-size: large;;
}
