a {
  text-decoration: none;
  color: white;
  font-size: medium;
  vertical-align: middle;
}

:host {
  width: 100%;
}

#settings {
  float: right;
}

div {
  padding-left: 15px;
}

span {
  padding-left: 15px;
}
p {
  display: inline;
  font-size: large;
}

mat-icon {
  vertical-align: -5px;
}
