<div>
  <span>&nbsp;</span>
  <span id="utility-menu">
    <span id="main-page">
      <a mat-button data-cy="home" routerLink="">
        <mat-icon aria-label="All assets">home</mat-icon>
        <p>Main</p>
      </a>
    </span>
      <span id="details">
      <a mat-button data-cy="create-asset" routerLink="create">
        <mat-icon aria-label="Asset Detail">create</mat-icon>
        <p>Create asset</p>
      </a>
    </span>
  </span>
  <span id="settings">
    <a mat-button data-cy="settings" routerLink="/#">
      <mat-icon aria-label="Settings">settings</mat-icon>
    </a>
  </span>

</div>
