<table>
  <tr>
    <td>
      <label>
        <input id="asset-name" type="string" placeholder="Full name" #assetName>
      </label>
    </td>
    <td>
      <label>
        <input id="asset-symbol" type="string" placeholder="Symbol" #assetSymbol>
      </label>
    </td>
    <td>
      <label>
        <input id="asset-amount" type="number" step="0.01" placeholder="Units amount" #assetAmount>
      </label>
    </td>
    <td>
      <label>
        <input id="asset-price" type="number" step="0.01" placeholder="Price/Unit" #price>
      </label>
    </td>
    <td>
      <button (click)="onAssetSave(assetName, assetSymbol, assetAmount, price)">Add Asset</button>
      <button>Cancel</button>
    </td>
  </tr>
  <br/>
  <br/>
  <br/>

</table>
<hr width="100%">
<td id='output' [innerHTML]="returnedString"> </td>


