<div class="additional-details-dialog">
    <div class="header">
        <span>
            <h2 mat-dialog-title class="ratio-name-header-dialog">
                Additional info on <b>{{ratioName}}</b>
            </h2>
        </span>
        <span>
            <button mat-button mat-raised-button (click)="closeDialog()" class="close-dialog-btn">
                <span>x</span>
            </button>
        </span>
    </div>
    <div mat-dialog-content class="description-text">
        some desc
    </div>
    <div mat-dialog-content class="detailed-points">
        <ol>
            <li>some point</li>
            <li>next point</li>
            <li>other point</li>
        </ol>
    </div>
    <div mat-dialog-content class="formula">
        
    </div>
</div>