<mat-card class="additional-details-dialog">
    <mat-card-title class="header">
        <span>
            <h2 mat-dialog-title class="ratio-name-header-dialog">
                Additional info on <b>{{ratioName}}</b>
            </h2>
        </span>
        <span class="close-dialog-btn">
            <button mat-button mat-raised-button (click)="closeDialog()" class="close-dialog-btn">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </mat-card-title>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <mat-card-content class="dialog-body-content" *ngIf="!isLoading">
        <mat-card-content mat-dialog-content class="description-text">
            some desc
        </mat-card-content>
        <mat-card-content mat-dialog-content class="detailed-points">
            <ol>
                <li>some point</li>
                <li>next point</li>
                <li>other point</li>
            </ol>
        </mat-card-content>
        <mat-card-content mat-dialog-content class="formula">
            {{ratiosInfos.formula}}
        </mat-card-content>
    </mat-card-content>
</mat-card>

<!-- <mat-card class="additional-details-dialog">
    <mat-card-title class="ratio-name">

    </mat-card-title>
    <mat-card-content class="description-text">

    </mat-card-content>
    <mat-card-content class="detailed-points">

    </mat-card-content>
    <mat-card-content class="formula">

    </mat-card-content>
</mat-card> -->