<mat-card>
  <mat-card-title>Asset list:</mat-card-title>
  <mat-divider></mat-divider>
  <div class="items" *ngIf="assetArray.length > 0">
    <mat-expansion-panel #panel hideToggle="true" *ngFor="let oneRecord of assetArray">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>Asset full name:&nbsp;<b>{{ oneRecord.assetName }}</b></span>
        </mat-panel-title>
        <mat-panel-description class="description">
          <span>Asset symbol:&nbsp;<b class="symbol">{{ oneRecord.assetSymbol }}</b></span>
        </mat-panel-description>
        <mat-icon *ngIf="panel.expanded else elseBlock" aria-hidden="false" aria-label="expand">expand_less</mat-icon>
        <ng-template #elseBlock>
          <mat-icon aria-hidden="false" aria-label="collapse">expand_more</mat-icon>
        </ng-template>
      </mat-expansion-panel-header>
      <table>
        <tr>
          <td>
            <span>Asset amount:&nbsp;<b>{{ oneRecord.amount }}</b></span><br>
            <span>Asset buy price:&nbsp;<b>{{ oneRecord.buyPrice }} {{oneRecord.currency}}</b></span><br>
            <span>Purchase Date:&nbsp;<b>{{ oneRecord.purchaseDate }}</b></span><br>
          </td>
          <td>
            <button class="details" mat-stroked-button [routerLink]="['details', oneRecord.id]">Details</button>
          </td>
        </tr>
      </table>
      <mat-action-row>
        <a mat-stroked-button color="primary" [routerLink]="['edit', oneRecord.id]">Edit</a>
        <button mat-stroked-button color="warn" (click)="deleteAsset(oneRecord.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
  <div class="items" *ngIf="assetArray.length <= 0 && getData()">
    <mat-spinner class="loading-spinner" id="asset-list-spinner" *ngIf="stopSpinner"></mat-spinner>
    <mat-card id="nothing-to-see" *ngIf="showSpinner() === false">
      <p>No portfolio added.</p>
    </mat-card>
  </div>
</mat-card>
